In [3]:
import pandas as pd

In [4]:
dataframes = []

In [5]:
df_1 = pd.read_csv("../data/perf_model.csv")
df_1.head()

,model,hardware,prompt_size,batch_size,token_size,peak_power,average_power,prompt_time,token_time,e2e_time,tensor_parallel
0,llama2-70b,a100-80gb,512,1,128,1.000012,0.735994,196.253219,54.879512,7168.983698,2
1,llama2-70b,a100-80gb,512,1,128,1.000012,0.735994,195.561664,54.856293,7165.270329,2
2,llama2-70b,a100-80gb,512,1,128,1.000012,0.735994,197.440176,54.804960,7160.753250,2
3,llama2-70b,a100-80gb,512,1,128,1.000012,0.735994,196.862379,54.856482,7166.614532,2
4,llama2-70b,a100-80gb,512,1,128,1.000012,0.735994,197.144004,54.812980,7161.341190,2

In [7]:
def convert_llama270b_and_bloom176b(x):
    if x == "llama2-70b":
        return "A"
    return "B"
df_1["model"] = df_1["model"].apply(convert_llama270b_and_bloom176b)

In [8]:
dataframes.append(df_1)

In [9]:
df_2 = pd.concat([pd.read_csv("../data/Llama-3.1-8B-tp-2.csv"), pd.read_csv("../data/Llama-3.1-8B-tp-4.csv")])
df_2.head()

,model,hardware,prompt_size,batch_size,token_size,peak_power,average_power,prompt_time,token_time,e2e_time,tensor_parallel
0,Llama-3.1-8B,a100-80gb,128,1,128,0,0,0.026356,1.091423,1.120188,2
1,Llama-3.1-8B,a100-80gb,128,1,128,0,0,0.024628,1.088581,1.115339,2
2,Llama-3.1-8B,a100-80gb,128,1,128,0,0,0.024099,1.087884,1.114281,2
3,Llama-3.1-8B,a100-80gb,128,1,128,0,0,0.022691,1.089089,1.113870,2
4,Llama-3.1-8B,a100-80gb,128,1,128,0,0,0.022682,1.087631,1.112059,2

In [10]:
df_2["model"] = "C"
df_2["tensor_parallel"] = df_2["tensor_parallel"] * 2

In [12]:
df_2.head()

,model,hardware,prompt_size,batch_size,token_size,peak_power,average_power,prompt_time,token_time,e2e_time,tensor_parallel
0,C,a100-80gb,128,1,128,0,0,0.026356,1.091423,1.120188,4
1,C,a100-80gb,128,1,128,0,0,0.024628,1.088581,1.115339,4
2,C,a100-80gb,128,1,128,0,0,0.024099,1.087884,1.114281,4
3,C,a100-80gb,128,1,128,0,0,0.022691,1.089089,1.113870,4
4,C,a100-80gb,128,1,128,0,0,0.022682,1.087631,1.112059,4

In [11]:
dataframes.append(df_2)

In [13]:
df_3 = pd.concat([pd.read_csv("../data/Llama-3.2-3B-tp-2.csv"), pd.read_csv("../data/Llama-3.2-3B-tp-4.csv")])

In [14]:
df_3.head()

,model,hardware,prompt_size,batch_size,token_size,peak_power,average_power,prompt_time,token_time,e2e_time,tensor_parallel
0,Llama-3.2-3B,a100-80gb,128,1,128,0,0,0.024418,0.693438,0.720412,2
1,Llama-3.2-3B,a100-80gb,128,1,128,0,0,0.020426,0.693831,0.716382,2
2,Llama-3.2-3B,a100-80gb,128,1,128,0,0,0.020986,0.691959,0.714792,2
3,Llama-3.2-3B,a100-80gb,128,1,128,0,0,0.020099,0.696073,0.718119,2
4,Llama-3.2-3B,a100-80gb,128,1,128,0,0,0.020796,0.691251,0.714097,2

In [15]:
df_3["model"] = "D"
df_3["tensor_parallel"] = df_3["tensor_parallel"] * 2

In [16]:
dataframes.append(df_3)

In [17]:
df_final = pd.concat(dataframes)

In [18]:
df_final.head()

,model,hardware,prompt_size,batch_size,token_size,peak_power,average_power,prompt_time,token_time,e2e_time,tensor_parallel
0,A,a100-80gb,512,1,128,1.000012,0.735994,196.253219,54.879512,7168.983698,2
1,A,a100-80gb,512,1,128,1.000012,0.735994,195.561664,54.856293,7165.270329,2
2,A,a100-80gb,512,1,128,1.000012,0.735994,197.440176,54.804960,7160.753250,2
3,A,a100-80gb,512,1,128,1.000012,0.735994,196.862379,54.856482,7166.614532,2
4,A,a100-80gb,512,1,128,1.000012,0.735994,197.144004,54.812980,7161.341190,2

In [19]:
df_final.to_csv("../data/perf_model_4_models.csv", index=False)